certifi
cffi
charset-normalizer
filelock
fsspec
huggingface-hub
idna
Jinja2
llvmlite
MarkupSafe
more-itertools
mpmath
networkx
numba
numpy
openai-whisper
packaging
pillow
pycparser
PyQt5
PyQt5-Qt5
PyQt5_sip
PyYAML
regex
requests
safetensors
sentencepiece
setuptools
sounddevice
sympy
tiktoken
tk
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib3
